<ion-header style=" background:#000000;">

  <div style="display: flex;align-items: center;justify-content: space-between;padding: 20px; color: #ffffff;">

    <ion-icon (click)="back()" style="font-size: 24px" slot="start" name="chevron-back-outline"></ion-icon>
    <div style="font-size: 18px; font-weight: 600;">{{langua['My Wallets'][lang]}}</div>
    <ion-icon style="font-size: 24px; color: transparent" slot="start" name="add"></ion-icon>

  </div>

</ion-header>

<ion-content style="--background:#000000;">

  <div style="width: 100%; flex-direction: column; justify-content: center;padding: 20px; overflow-y: auto;">

    <div
      [ngStyle]="{'background': currentUser['credit'] < 100000 ? 'url(/assets/icon/red.png) no-repeat center center/cover' : currentUser['credit'] >= 5000000 && currentUser['credit'] < 10000000 ? 'url(/assets/icon/gold.png) no-repeat center center/cover' : currentUser['credit'] >= 100000 && currentUser['credit'] < 5000000 ? 'url(/assets/icon/silver.png) no-repeat center center/cover' : 'url(/assets/icon/platinum.png) no-repeat center center/cover'}"
      style="width:100%; height: 210px; border-radius: 10px;display: flex; justify-content: space-between; flex-direction: column; margin-bottom: 20px; padding: 20px; position: relative;">

      <div style="display: flex; justify-content: space-between;width: 100%;">

        <div>

          <div style="display:flex; align-items: center;">
            <ion-icon style="width: 30px;height: 30px;margin: 0px 5px 5px 0px;" name="person-circle"></ion-icon>
            <div style="font-weight: 600;">{{currentUser['name']}}</div>
          </div>

          <div style="font-size:12px;">{{langua['Member ID'][lang]}}:{{ code }}</div>

        </div>

        <img style="width: 40px;height: 35px;" src="/assets/icon/coin logo.png" alt="">
      </div>

      <div
        style="display: flex; justify-content: space-between; width: 100%; justify-self: flex-end; align-items: center;">

        <div>
          <div style="color: #895D06;"> {{langua['Available Credit'][lang]}}</div>
          <div style="font-size: 25px; font-weight: 700;">${{currentUser['amount'] / 100 | number : '.2-2'}}</div>
        </div>



      </div>

      <div>
        <div style="color: #895D06;"> {{langua['Credit'][lang]}}</div>
        <div style="font-size: 25px; font-weight: 700;">${{currentUser['credit'] / 100 | number : '.2-2'}}</div>
      </div>

      <div [ngStyle]="{'color': currentUser['credit'] < 100000 ? '#964141' : currentUser['credit']>= 5000000 &&
        currentUser['credit'] < 10000000 ? '#BF7E00' : currentUser['credit']>= 100000 && currentUser['credit'] < 5000000
            ? '#747474' : '#2B3036' }"
        style="color: black; position: absolute;  right: 15px; bottom : 15px; font-weight: 550;">
        {{currentUser['credit'] < 100000 ? langua['MEMBER'][lang] : currentUser['credit']>= 5000000 &&
          currentUser['credit'] < 10000000 ? langua['GOLD'][lang] : currentUser['credit']>= 100000 &&
            currentUser['credit'] < 5000000 ? langua['SILVER'][lang] : langua['PLATINUM'][lang] }} </div>

      </div>

      <!-- platinum.png
    silver.png -->


      <div style="width: 100%;display: flex; justify-content: space-evenly; margin-bottom: 30px;">

        <div (click)="gotopup()" style="background: #F0B900; border-radius: 25px; display: flex;justify-content: center;align-items: center; width: 123px;
      height: 50px; font-weight: 600;  font-size: 18px">{{langua['Top Up'][lang]}}</div>

        <div (click)="gowithdraw()" style="background: #F0B900; border-radius: 25px; display: flex;justify-content: center;align-items: center; width: 123px;
      height: 50px; font-weight: 600; font-size: 18px;">{{langua['Withdraw'][lang]}}</div>

      </div>

      <div
        style="display: flex;align-items: center;justify-content: space-between;padding: 20px 0px 10px 0px; color: #ffffff;">

        <ion-icon style="font-size: 24px; width: 70px;color: transparent" slot="start" name="add"></ion-icon>

        <div style="font-size: 20px; font-weight: 600;">{{langua['History'][lang]}}</div>

        <div (click)="picker.open()" style="display: flex; color: #F0B900; ">
          <input matInput readonly="true" [(ngModel)]="selectedDate" (dateChange)="getOrders()"
            style="cursor: pointer; font-size: 12px; outline: none; width: 80px; background-color: transparent; border: none;  color: #F0B900;"
            [matDatepicker]="picker" placeholder="Choose a date">

          <mat-datepicker #picker></mat-datepicker>

          <ion-icon name="caret-down-outline"></ion-icon>

        </div>
      </div>

      <div style="background: linear-gradient(180deg, rgba(77, 63, 63, 0.896) 3.65%, rgba(70, 71, 79, 0.08) 100%);
       width: 100%; height: 100%; border-radius: 25px;padding: 20px;">

        <div
          *ngIf="passOrders.length == 0 && withdraws.length == 0 && commission_logs.length == 0 && invoices.length == 0 && credit_logs.length == 0"
          style="display: flex; justify-content: center; align-items: center; color: white;">{{langua['No
          transaction yet'][lang]}} .. </div>

        <div *ngFor="let x of returnSort()"
          style="display: flex;flex-direction: column; align-items: center; margin-bottom: 20px; ">

          <div *ngIf="x.type == 'orders'"
            style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <div style="position: relative;">
                <img style="width: 50px; height: 50px; margin-right: 10px;" src="{{x.coinpicture}}" alt="">
                <img *ngIf="result == true && x.percentage >= 0"
                  style="width: 15px; height: 30px; object-fit: contain; position: absolute; bottom: 0; left: 40px;"
                  src="assets/icon/up_arrow.png" alt="">
                <img *ngIf="result == true && x.percentage < 0"
                  style="width: 15px; height: 30px; object-fit: contain; position: absolute; bottom: 0; left: 40px;"
                  src="assets/icon/down_arrow.png" alt="">
              </div>


              <div>
                <div style="color:#ffffff;">{{x.coinname}}</div>
                <div style="color: #888888;">{{ x.investamount || 0 | number : '.2-2' }}</div>
                <div *ngIf="result == false" style="font-size: 12px; color: white; text-transform: capitalize;"> Waiting
                  For Result </div>
              </div>


            </div>

            <div *ngIf="result == true && x.percentage >= 0" style="color: #7BFFB2;"> + $ {{ ((x.investamount *
              (x.percentage / 100)) / 2) | number : '.2-2'}} USD</div>

            <div *ngIf="result == true && x.percentage < 0" style="color: #FF7B7B;"> - $ {{( x.investamount *
              - (x.percentage / 100)) | number : '.2-2'}} USD</div>

            <div *ngIf="result == false" style="color: #7BFFB2;"> </div>
          </div>

          <div *ngIf="x.type == 'withdraw'"
            style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/withdraw.png" alt="">

              <div>
                <div style="color:#ffffff;">{{langua['Withdraw'][lang]}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.status }} </div>
              </div>


            </div>

            <div style="color: white;"> - $ {{ x.amount / 100 | number : '.2-2' }} USD </div>

          </div>

          <div *ngIf="x.type == 'commission'"
            style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/commission.png" alt="">

              <div>
                <div style="color:#ffffff;">{{langua['Ranking Commission'][lang]}}</div>
                <div style="color: #ffffff; margin-top: 2px;"> From : {{ x.downlinename }}</div>


                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount / 100 | number : '.2-2' }} USD </div>

          </div>

          <div *ngIf="x.type == 'invoices'"
            style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/topup.png" alt="">

              <div>
                <div style="color:#ffffff;">{{langua['Top Up'][lang]}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.statusadmin }} </div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount | number : '.2-2' }} USD </div>

          </div>

          <div *ngIf="x.type == 'credit'"
            style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/topup.png" alt="">

              <div>
                <div style="color:#ffffff;">{{'Admin Transfer'}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.remark }} </div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount / 100 | number : '.2' }} USD </div>

          </div>



          <div
            style="display: flex; justify-content: space-between;width: 100%; align-items: center; margin: 20px 0px;">

            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%; "></div>
            <div style="width: 100%; height: 2px; background: #888888;"></div>
            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%;"></div>

          </div>


        </div>

        <!-- <div *ngFor="let x of withdraws"
          style="display: flex;flex-direction: column; align-items: center; margin-bottom: 20px; ">

          <div style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/withdraw.png" alt="">

              <div>
                <div style="color:#ffffff;">{{'WITHDRAW'}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.status }} </div>
              </div>


            </div>

            <div style="color: white;"> - $ {{ x.amount / 100 | number : '.2-2' }} USD </div>

          </div>


          <div
            style="display: flex; justify-content: space-between;width: 100%; align-items: center; margin: 20px 0px;">

            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%; "></div>
            <div style="width: 100%; height: 2px; background: #888888;"></div>
            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%;"></div>

          </div>


        </div>

        <div *ngFor="let x of commission_logs"
          style="display: flex;flex-direction: column; align-items: center; margin-bottom: 20px; ">

          <div style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/commission.png" alt="">

              <div>
                <div style="color:#ffffff;">{{'Referral Commission'}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount / 100 | number : '.2-2' }} USD </div>

          </div>


          <div
            style="display: flex; justify-content: space-between;width: 100%; align-items: center; margin: 20px 0px;">

            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%; "></div>
            <div style="width: 100%; height: 2px; background: #888888;"></div>
            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%;"></div>

          </div>


        </div>

        <div *ngFor="let x of invoices"
          style="display: flex;flex-direction: column; align-items: center; margin-bottom: 20px; ">

          <div style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/topup.png" alt="">

              <div>
                <div style="color:#ffffff;">{{'TOP UP'}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.statusadmin }} </div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount | number : '.2-2' }} USD </div>

          </div>


          <div
            style="display: flex; justify-content: space-between;width: 100%; align-items: center; margin: 20px 0px;">

            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%; "></div>
            <div style="width: 100%; height: 2px; background: #888888;"></div>
            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%;"></div>

          </div>


        </div>

        <div *ngFor="let x of credit_logs"
          style="display: flex;flex-direction: column; align-items: center; margin-bottom: 20px; ">

          <div style="display:flex; justify-content: space-between; width: 100%; align-items: center;">

            <div style="display: flex; align-items: center;">

              <img style="width: 50px; height: 50px; margin-right: 10px;" src="assets/icon/topup.png" alt="">

              <div>
                <div style="color:#ffffff;">{{'Admin Transfer'}}</div>
                <div style="color: #888888;">{{ x.date | date : 'HH:mm a' }}</div>
                <div style="color: #ffffff; font-size: 12px; text-transform: capitalize;"> {{ x.remark }} </div>
              </div>


            </div>

            <div style="color: white;"> $ {{ x.amount / 100 | number : '.2' }} USD </div>

          </div>


          <div
            style="display: flex; justify-content: space-between;width: 100%; align-items: center; margin: 20px 0px;">

            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%; "></div>
            <div style="width: 100%; height: 2px; background: #888888;"></div>
            <div style="background: #888888; width: 10px; height: 10px; border-radius: 100%;"></div>

          </div>


        </div> -->

      </div>



    </div>
</ion-content>