<ion-header style=" background:#000000;">

  <div
    style="display: flex;align-items: center;justify-content: space-between;padding: 20px 0px 40px 0px; color: #ffffff;padding: 20px;">

    <ion-icon (click)="back()" style="font-size: 24px" slot="start" name="chevron-back-outline"></ion-icon>
    <div style="font-size: 20px; font-weight: 600;">{{langua["Select Language"][lang]}}</div>
    <ion-icon style="font-size: 24px; color: transparent" slot="start" name="add"></ion-icon>

  </div>

</ion-header>



<ion-content class="fondologin" style="--background: black;">
  <!-- 
  <div
    style='width:100%;display:flex;align-items: center;justify-content: space-between;height:50px;position: sticky;top:0;z-index:1000;background-color: black;'>
    <div style="font-size: 24px; width: 90px; color: white;">
      <ion-icon (click)="back()" slot="start" name="chevron-back-outline"></ion-icon>
    </div>

    <div style='font-size:16px;letter-spacing: .5px;color:white;font-weight: bold;'>{{langua["Select
      Language"][lang]}}</div>

    <div style='height:50px;width:50px;display:flex;align-items: center;justify-content: center;opacity: 0;'>
      <ion-icon style='color:black;font-size:20px;' name="chevron-back-outline"></ion-icon>
    </div>
  </div> -->

  <div style='width:100%;padding:15px 20px;background-color: black;'>

    <div *ngFor='let eve of selections;let i = index' (click)="setLanguage(eve)"
      style='width:100%;display:flex;height: 38px;align-items: center;border:1px solid #eeeeee; border-radius: 5px;margin-bottom: 5px;padding:0 15px; background-color: black;'>

      <div style='position: relative;width: 22px;height: 22px;'>
        <ion-checkbox [checked]="select == eve.value " mode="ios"
          style="--checkmark-width:4px;width: 22px;height: 22px;"></ion-checkbox>
        <div style="position: absolute; height:22px; width: 22px;z-index: 500;top:0;left:0;"></div>
      </div>

      <div
        style='font-size:13px;color:#F0B900;font-weight: 500;letter-spacing: .5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:100%;padding-left: 15px;margin-bottom: 1px;'>
        {{eve.name}}</div>

    </div>
  </div>

  <div style='width:100%;position: fixed;bottom:0;padding: 15px;'>
    <div (click)=' select != lang ? save() : null' [ngStyle]="{'background': select == lang ? '#F0B900' : '#F0B900'}"
      style='width:100%;padding:10px 20px;font-size:14px;text-align: center;font-weight: bold;letter-spacing: 1px;color:black;border-radius:5px;'>
      {{langua["Save"][lang]}}</div>
  </div>


</ion-content>