<ion-content style="--background:linear-gradient(180deg, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);">

  <div
    style="justify-content: center; height: 100%; width: 100%; 
   background: url('/assets/icon/golden-cube-background-abstract-gold-geometric-reflection-glitter-3d-illustration 2.png')  no-repeat center center/cover;">

    <div style="display:flex;align-items: center; height: 80%; justify-content: center; flex-direction: column;">

      <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
        <img style="width: 278px; height: 49px; " src="/assets/icon/Logo.png" alt="">
      </div>

      <div style="height: 100px;"></div>


      <div style=" width:100%; position: relative;
     display: flex; align-items: center; justify-content: center; flex-direction: column; ">

        <div style="display: flex; align-items: center; justify-items: center; flex-direction: column; width: 80%">

          <div style="display: flex; align-items: center; width: 100%; padding: 12px 5px; 
        background-color: #D9D9D90D; border: 2px solid rgb(67, 63, 54);
          border-radius: 10px; ">
            <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
            <ion-input [(ngModel)]="user['email']" style="font-size: 14px;margin: 5px;color: #FFFFFF;"
              class="ion-no-padding" type="text" placeholder="Username">
            </ion-input>
          </div>

          <div style="display: flex; align-items: center; width: 100%; padding: 12px 5px; 
        background-color: #D9D9D90D; border: 2px solid rgb(67, 63, 54);
          border-radius: 10px; margin-top: 20px; ">
            <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
            <ion-input [(ngModel)]="user['password']" style="font-size: 14px;margin: 5px;color: #FFFFFF;"
              class="ion-no-padding" type="password" placeholder="Enter Password">
            </ion-input>
          </div>

        </div>

        <div style="display: flex; align-items: center; justify-content: flex-end; width: 80%; margin-top: 10px;">
          <div style="color: #FFFFFF; font-size: 12px;">Forgot password?
          </div>
        </div>

        <div (click)="login()" class="ion-activatable ripple-parent" style="border-radius: 10px;margin-top: 40px; padding: 15px 5px;width: 80%;
     background-color: #F0B900;font-size:18px; border-top: 1px solid #ffbea8;
      color: #000000; font-weight: 600;  text-align: center;  box-shadow: 0px 3px 6px rgb(0,0,0,0.1);">
          Log in
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>

        </div>
        <!-- 
        <div style="color: #FFFFFF; margin-top: 10px;">New User? <span (click)="gosignup()" style="color: #F0B900;">Sign
            Up</span></div> -->

      </div>

    </div>




  </div>


</ion-content>