<ion-slides #slides style="width: 100%; height: calc(100vh - 55px); --background:black;">

  <!-- SINGER -->
  <ion-slide style="width: 100%; background-color: #000000;">
    <ion-content style="
    --background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  ">
      <div style="
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      justify-content: center; height: 100%; width: 100%; 
   background: url('/assets/icon/golden-cube-background-abstract-gold-geometric-reflection-glitter-3d-illustration 2.png')  no-repeat center center/cover;; 

      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    ">
        <div style="
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
      ">
          <img style="width: 278px; height: 49px" src="/assets/icon/Logo.png" alt="" />

          <div style="
          color: #ffffff;
          font-size: 20px;
          font-weight: 900;
          width: 100%;
          height: 10%;
          align-items: center;
          justify-content: center;
          display: flex;
          margin-bottom: 40px;
        ">
            <div>Sign up</div>
          </div>

          <div style="
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        ">
            <div style="
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
            width: 80%;
          ">

              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.name"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="text" placeholder="Full Name *">
                </ion-input>
              </div>

              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
              ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.user_name"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="text" placeholder="User Name *"> &nbsp; CP -&nbsp;
                </ion-input>
              </div>

              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
              ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.email"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="email" placeholder="Email *">
                </ion-input>
              </div>


              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
            ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.password"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="password" placeholder="Password *">
                </ion-input>
              </div>


              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
            ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.comfirmPassword"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="password" placeholder="Confirm Password *">
                </ion-input>
              </div>

              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
            ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.phone"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="text" placeholder="Phone *">
                </ion-input>
              </div>


              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
            ">
                <!-- <ion-icon style="color: #FFFFFF; font-size: 16px;" name="mail-outline"></ion-icon> -->
                <ion-input [(ngModel)]="user.ustd"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="text" placeholder="USDT Account (optional)">
                </ion-input>
              </div>



              <!-- <div style="
              margin-right: 10px;
              border-radius: 2px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              background: #292c3d;
            " appearance="fill" (click)="picker.open()">
            <input matInput style="
                color: white;
                cursor: pointer;
                font-size: 12px;
                text-align: center;
                outline: none;
                background-color: transparent;
                border: none;
              " [(ngModel)]="selectedDate" [matDatepicker]="picker" placeholder="Choose a date" />
            <mat-datepicker #picker></mat-datepicker>
          </div> -->

              <div style="
              display: flex;
              align-items: center;
              width: 100%;
              padding: 12px 5px;
              background-color: #d9d9d90d;
              border: 2px solid rgb(67, 63, 54);
              border-radius: 10px;
              margin-top: 20px;
            ">
                <!-- <div style="font-size: 14px; margin: 5px; color: #ffffff; margin:5px; text-align: start;"> {{
                   == '' ? '' : user['code'] }}
                </div> -->
                <ion-input [(ngModel)]="user['code']"
                  style="font-size: 14px; margin: 5px; color: #ffffff; text-align: start;" class="ion-no-padding"
                  type="text" placeholder="Referral ID (optional)">
                </ion-input>
              </div>
            </div>

            <!-- <div style="display: flex; align-items: center; justify-content: flex-end; width: 80%; margin-top: 10px;">
        <div style="color: #FFFFFF; font-size: 12px;">Forgot password?
        </div>
      </div> -->

            <div (click)="nextPage()" style="
            border-radius: 10px;
            margin-top: 40px;
            padding: 15px 5px;
            width: 80%;
            background-color: #f0b900;
            font-size: 18px;
            border-top: 1px solid #ffbea8;
            color: #000000;
            font-weight: 600;
            text-align: center;
            box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.1);
          ">
              Submit
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-slide>

  <ion-slide style="background-color: #000000;">
    <ion-content style="--background:black;">

      <div style="background:black;width: 100%; height: 100%; display: flex; flex-direction: column; padding: 20px;">
        <div style="height: 20vh; display: flex; justify-content: center; align-items: center;">
          <img style="width: 278px; object-fit: contain;" src="/assets/icon/Logo.png" alt="">
        </div>
        <div style="color: white; height: 60vh; overflow: auto;">
          <div style="margin-bottom: 20px;">
            Terms and Conditions
          </div>

          <!-- <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
            Privacy Policy for Coinpool Fund
          </div>

          <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

            At Www.coinpool.com, accessible from Www.coinpool.com, one of our main priorities is the privacy of our
            visitors. This Privacy Policy document contains types of information that is collected and recorded by
            Www.coinpool.com and how we use it.

            If you have additional questions or require more information about our Privacy Policy, do not hesitate to
            contact us.

            This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards to the information that they shared and/or collect in Www.coinpool.com. This policy is not
            applicable
            to any information collected offline or via channels other than this website. Our Privacy Policy was created
            with the help of the Free Privacy Policy Generator.

          </div>

          <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
            Consent
          </div>

          <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

            By using our website, you hereby consent to our Privacy Policy and agree to its terms.


          </div>

          <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
            Information We Collect
          </div>

          <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

            The personal information that you are asked to provide, and the reasons why you are asked to provide it,
            will
            be made clear to you at the point we ask you to provide your personal information.

            If you contact us directly, we may receive additional information about you such as your name, email
            address,
            phone number, the contents of the message and/or attachments you may send us, and any other information you
            may choose to provide.

            When you register for an Account, we may ask for your contact information, including items such as name,
            company name, address, email address, and telephone number.
          </div>

          <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
            How we use your information
          </div>

          <div style="font-size:13px; text-align: left; font-weight: 550; margin-bottom: 10px;">
            We use the information we collect in various ways, including to:


          </div> -->

          <ol style="padding: 0 30px; font-size: 12px;">
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trade at your own risk
            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Platform’s trading charge will be charge
              directly from your profit. And Coinpool’s trading charge is 50% of your total profit everyday.
            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">3.59pm is the last cut off time to place
              same day’s order.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify"> Order placed after 4pm will be consider
              as
              next day’s order.

            </li>
            <li style="color: #888888; margin-bottom: 10px; text-align: justify">Platform will announce every coin’s
              result
              at 8pm everyday.</li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Platform will be trading everyday until
              further notice.
            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to follow Coinpool’s
              formula, trade 5coins averagely.
            </li>


            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Compensation will given ONLY if trader
              trade
              5 coins averagely.

            </li>

            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to check your order
              before
              clicking submit. Once submit strictly no cancel/amend.

            </li>


            <li style="color: #888888; margin-bottom: 10px;text-align: justify">To top up trader must provide receipt
              for
              platform to verify.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to complete account
              verification before proceeding to withdrawal. No withdrawal will be process if account is under Pending
              Verification.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">To proceed withdrawal Coinpool only
              provide
              USDT’s option. Trader are advise to provide TRC20’s address to platform to proceed withdrawal.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">For withdrawal once submit strictly no
              cancel/amend.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">No minimum amount for withdrawal. Please
              note that there will be 6% charges for all withdrawal.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Withdrawal will process within 48hours.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">For ranking commission please refer to
              our
              Guideline’s video.

            </li>
            <li style="color: #888888; margin-bottom: 10px;text-align: justify">Every friends you refer with your link
              will
              be entitled for ranking commission. But both referrer and referee has to be at least Silver Ranking and
              above
              which equal to at least $1000 credit in account.
            </li>

          </ol>


        </div>
        <div
          style="display: flex; width: 100%; margin-top: 30px; justify-content: space-between; align-items: center; padding: 0 10px;">

          <div (click)="navBack()" style="color: #F0B900">No, thanks</div>
          <div (click)="userSignUp()"
            style="background: #F0B900;padding: 10px 20px; border-radius: 10px; font-weight: 550;">Accept</div>
        </div>
      </div>
    </ion-content>

  </ion-slide>



</ion-slides>