<ion-content style="--background:black;">

  <div style="background:black;width: 100%; height: 100%; display: flex; flex-direction: column; padding: 20px;">
    <div style="height: 20vh; display: flex; justify-content: center; align-items: center;">
      <img style="width: 278px; object-fit: contain;" src="/assets/icon/Logo.png" alt="">
    </div>
    <div style="color: white; height: 60vh; overflow: auto;">
      <div style="margin-bottom: 20px;">
        Terms and Conditions
      </div>

      <!-- <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
        Privacy Policy for Coinpool Fund
      </div>

      <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

        At Www.coinpool.com, accessible from Www.coinpool.com, one of our main priorities is the privacy of our
        visitors. This Privacy Policy document contains types of information that is collected and recorded by
        Www.coinpool.com and how we use it.

        If you have additional questions or require more information about our Privacy Policy, do not hesitate to
        contact us.

        This Privacy Policy applies only to our online activities and is valid for visitors to our website with
        regards to the information that they shared and/or collect in Www.coinpool.com. This policy is not applicable
        to any information collected offline or via channels other than this website. Our Privacy Policy was created
        with the help of the Free Privacy Policy Generator.

      </div>

      <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
        Consent
      </div>

      <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

        By using our website, you hereby consent to our Privacy Policy and agree to its terms.


      </div>

      <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
        Information We Collect
      </div>

      <div style="font-size:12px; text-align: justify; font-weight: 550;margin-bottom: 15px; color: #888888;">

        The personal information that you are asked to provide, and the reasons why you are asked to provide it, will
        be made clear to you at the point we ask you to provide your personal information.

        If you contact us directly, we may receive additional information about you such as your name, email address,
        phone number, the contents of the message and/or attachments you may send us, and any other information you
        may choose to provide.

        When you register for an Account, we may ask for your contact information, including items such as name,
        company name, address, email address, and telephone number.
      </div>

      <div style="font-size:15px; text-align: left; font-weight: 550; margin-bottom: 10px;">
        How we use your information
      </div> -->
      <!-- 
      <div style="font-size:13px; text-align: left; font-weight: 550; margin-bottom: 10px;">
        We use the information we collect in various ways, including to:
      </div> -->

      <ol style="padding: 0 20px; font-size: 12px;">
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trade at your own risk
        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Platform’s trading charge will be charge
          directly from your profit. And Coinpool’s trading charge is 50% of your total profit everyday.
        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">3.59pm is the last cut off time to place
          same day’s order.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify"> Order placed after 4pm will be consider as
          next day’s order.

        </li>
        <li style="color: #888888; margin-bottom: 10px; text-align: justify">Platform will announce every coin’s result
          at 8pm everyday.</li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Platform will be trading everyday until
          further notice.
        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to follow Coinpool’s
          formula, trade 5coins averagely.
        </li>


        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Compensation will given ONLY if trader trade
          5 coins averagely.

        </li>

        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to check your order before
          clicking submit. Once submit strictly no cancel/amend.

        </li>


        <li style="color: #888888; margin-bottom: 10px;text-align: justify">To top up trader must provide receipt for
          platform to verify.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Trader are advise to complete account
          verification before proceeding to withdrawal. No withdrawal will be process if account is under Pending
          Verification.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">To proceed withdrawal Coinpool only provide
          USDT’s option. Trader are advise to provide TRC20’s address to platform to proceed withdrawal.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">For withdrawal once submit strictly no
          cancel/amend.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">No minimum amount for withdrawal. Please
          note that there will be 6% charges for all withdrawal.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Withdrawal will process within 48hours.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">For ranking commission please refer to our
          Guideline’s video.

        </li>
        <li style="color: #888888; margin-bottom: 10px;text-align: justify">Every friends you refer with your link will
          be entitled for ranking commission. But both referrer and referee has to be at least Silver Ranking and above
          which equal to at least $1000 credit in account.
        </li>

      </ol>


    </div>
    <div (click)="back()"
      style="display: flex; width: 100%; margin-top: 30px; justify-content: space-between; align-items: center; padding: 0 10px;">
      <div style="background: #F0B900;padding: 10px 20px; border-radius: 10px; font-weight: 550;">Back</div>
    </div>
  </div>
</ion-content>