<ion-content>

  <div
    style="background:black;width: 100%; height: 100%; justify-content: center; align-items: center; display: flex; padding: 20px;">

    <div style="display:flex;align-items: center; justify-content: center;  flex-direction: column; ">

      <img style="width: 278px; height: 30px; object-fit: contain;" src="/assets/icon/Logo.png" alt="">

      <div style="color: #FFFFFF; font-size: 20px; font-weight: 900; width: 100%; height: 60%;display: flex; align-items: center;
       flex-direction: column;">

        <div style="margin: 30px 0px;">
          Terms of Service
        </div>

        <div style="font-size:13px; text-align: center;">
          {{text}}
        </div>

      </div>
      <div style="height: 150px;"></div>
      <div style="display: flex; width: 100%;justify-content: space-between; align-items: center; ">

        <div style="color: #F0B900">Cancle</div>
        <div style="background: #F0B900;padding: 10px 20px; border-radius: 10px;">Accept</div>

      </div>

    </div>




  </div>
</ion-content>


<!-- <ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>

  <ion-modal handle="false" class="modal-class" #modal trigger="open-modal" [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content id="hellomodal" style="--background: #2E2E2E;">
        <div style="display: flex; justify-content: center; padding: 8px;">
          <div style="width: 55px; height: 7px; background-color: #FFBE2E; border-radius: 4px;"> </div>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content> -->