<ion-header style=" background:#000000;">

  <div style="display: flex;align-items: center;justify-content: space-between;padding: 20px; color: #ffffff;">

    <ion-icon (click)="back()" style="font-size: 24px" slot="start" name="chevron-back-outline"></ion-icon>
    <div style="font-size: 20px; font-weight: 600;">{{langua['Refer Friends'][lang]}}</div>
    <ion-icon (click)="copyToClipboard(('https://appcoinpool.web.app/signup?code=' + referralCode))"
      style="font-size: 24px; color: #F0B900" slot="start" name="share-social"></ion-icon>

  </div>

</ion-header>
<ion-content>



  <div
    style="background:black;width: 100%; height: 100%; flex-direction: column; justify-content: center;padding: 20px 0; overflow-y: auto;">

    <div style=" width: 100%; ">

      <div style="position: relative; height: 120px; padding: 0 20px;">
        <div style="font-size: 14px; color: #6E5015;"> Total Referral Amount</div>
        <div style="font-size: 32px; color: white; font-size: 16px;">$ {{ totalCommisionAmount / 100 | number : '1.2-2' }} USDT</div>

        <div style="font-size: 14px; color: #6E5015;"> Available Amount</div>
        <div style="font-size: 32px; color: white; font-size: 16px;">$ {{ currentUser['referralwallet'] / 100 | number : '1.2-2' }} USDT</div>
        <img style="position: absolute; right: 20px; margin-bottom: 25px; width: 180px; top: 0;"
          src="/assets/icon/Refer.png" alt="">

      </div>

      <div style="display: flex; align-items: center;justify-content: space-between; width: 100%; margin-top: 5px; padding: 0 20px;">
        <div
          style="width: 100%; height: 40px; border: 1px solid #F0B900;border-radius: 10px;padding: 10px; display: flex; align-items:center; justify-content: space-between; ">

          <div style="color: #F0B900; font-size: 12px; font-weight: 500; margin-right: 10px">Custom Amount</div>

          <ion-input type="number" [(ngModel)]="amount" (ionChange)="changePercentage($event)" step=".01"
            style="border: none; outline : 0; width: 50%; font-size: 16px; background-color: transparent; color: white; text-align: end;"
            placeholder="0"></ion-input>
        </div>

        <div (click)="withdraw()"
        style="background:#F0B900; color: #000000; padding: 10px 15px; border-radius: 10px; text-align: center; margin-left: 5px; width: 47%;">
        Withdraw</div>
      </div>

    </div>


    <div style="color: #ffffff; width: 100%; padding: 15px 20px;">

      <div *ngFor="let item of logs" style="margin-bottom: 15px;">
        <div style="font-weight: 550; font-size: 16px; margin-bottom: 10px;">{{ item['date']}}</div>

        <div style="width: 100%;">
          <div *ngFor="let void of item['lists']" style="margin-bottom: 3px; display: flex; justify-content: space-between; align-items: center;">
           

            <div>
              <div>
                {{void['downlinename']}}

              </div>
             
              <div>
                {{void['date'] | date : 'HH:mm a'}}
              </div>
            </div>

            <div>

              {{(void['amount'] / 100)  | number : '1.2-2'}} USDT

            </div>
            
          </div>
        </div>

        
      </div>
      <!-- <div *ngFor="let x of referralList"
        style="border-radius: 10px; width: calc(( 100%/2) - 20px );height: 162px; background: #9797972B; 
        display: flex; justify-content: center; margin: 10px;padding: 10px; flex-direction: column;align-items: center; padding: 10px;">

        <div style="width: 70px; height: 70px; border-radius: 100%; margin-bottom: 20px;"><img style="width: 70px; height: 70px;
        border-radius: 100%;" src="assets/icon/personyellow.png" alt="">
        </div>

        <div style="display: 5px; align-items: center; justify-content: center;">

          <div style="text-align: center;color: #F0B900; margin-bottom: 5px; font-size: 12px;">{{x.name}}</div>
          <div style="text-align: center;color: #F0B900; margin-bottom: 5px; font-size: 12px;">{{selectedDate}}
          </div>
          <div *ngIf="x.amounttoday > 0"
            style="text-align: center;color: #F0B900; margin-bottom: 5px; font-size: 12px;">{{langua['Total Trade
            Today'][lang]}} ( {{ x.amounttoday / 100 | number : '.2-2' }} )</div>
          <div *ngIf="!(x.amounttoday > 0)"
            style="text-align: center;color: #F0B900; margin-bottom: 5px; font-size: 12px;"> {{langua['No trade
            yet'][lang]}}
          </div>
        </div>

      </div> -->

    </div>





  </div>






</ion-content>