// ion-toggle {
//     width: 200px;
//     --handle-width: 100px;
//     --handle-height: 40px;
//     height: 40px;
//   }

  .selected{
    background:  #F0B900;
    
    color: #000000;
}

.selectedx{

    background: #333333;
    color: #ffffff;
}

