<!-- 
<ion-header style=" background:#000000;">

  <div
    style="display: flex;align-items: center;justify-content: space-between;padding: 20px 0px 40px 0px; color: #ffffff;padding: 20px;">

    <ion-icon (click)="back()" style="font-size: 24px" slot="start" name="chevron-back-outline"></ion-icon>
    <div style="font-size: 20px; font-weight: 600;">Guideline</div>
    <ion-icon style="font-size: 24px; color: transparent" slot="start" name="add"></ion-icon>

  </div>

</ion-header> -->

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>

    <div style="width: 100%;height: 250px; padding: 20px 20px 0px 20px;
    background: url('/assets/icon/Group 2074.png') no-repeat center center/cover;">

      <div style="display: flex; justify-content: space-between; align-items: center;">

        <img style="width: 170px; height: 100%; " src="/assets/icon/logo 2.png" alt="">

        <div style="display: flex;padding: 10px; align-items: center;">

          <!-- <ion-icon (click)="back()" style="font-size: 25px; margin-right: 10px;" name="notifications-outline">
          </ion-icon> -->

          <ion-icon (click)="goprofile()" style="font-size: 25px" name="menu-outline"></ion-icon>

        </div>
      </div>

      <div style="font-weight: 700">
        <div style="font-size: 26px;color: #6E5015;">{{langua['Hello'][lang]}}, {{ currentUser['user_name'] ? 'CP - ' +
          currentUser['user_name'] : currentUser['name'] }}</div>
        <div style="font-size: 14px; color: #6E5015;"> {{langua['Your Available Balance'][lang]}}</div>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
          <div style="font-size: 32px;">${{ (currentUser['amount'] / 100 || 0) | number : '.2-2' }}</div>
          <div style="font-size: 12px; text-align: center;">( {{langua['Total invested'][lang]}}) <span
              style="font-weight: 800;">${{(totalSelfInvestment / 100 || 0) |
              number}}</span></div>
        </div>

      </div>
    </div>


    <!-- main -->
    <div
      style=" height: 100%;width: 100%;background: black;margin-top: -80px;border-radius: 25px 25px 0 0; padding: 20px;">

      <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 30px; ">

        <div (click)="gotopup()" style="background-color: #F0B900; width: 100px; padding: 0 5px; height: 41px; font-weight: 600; border-radius: 10px; width: 100px; display: flex;
          align-items: center;justify-content: center;margin: 5px;">
          {{langua['Top up'][lang]}} </div>

        <div (click)="goorder()" style="background-color: #F0B900; width: 100px; padding: 0 5px; height: 41px; font-weight: 600; border-radius: 10px; width: 100px; display: flex;
          align-items: center;justify-content: center; text-align: center;margin: 5px; ">
          {{langua['Place Order'][lang]}} </div>

        <div (click)="goresult()" style="background-color: #F0B900; width: 100px; padding: 0 5px;height: 41px; font-weight: 600; border-radius: 10px; width: 100px; display: flex;
          align-items: center;justify-content: center;margin: 5px; ">
          {{langua['Result'][lang]}} </div>


      </div>

      <div style="color:#FFFFFF; font-weight: 600; font-size: 20px;"> {{langua['Result'][lang]}}</div>

      <div style="color:#ffffff; display: flex; align-items: center; flex-direction: column; margin:30px 0px">

        <div style="display: flex; width: 100%; justify-content: space-around; color: #000000; margin-bottom: 20px; ">

          <div>
            <div id="hours" style="background-color: #F0B900;height: 53px; width:64px; border-radius: 20px;
            font-size: 28px; display: flex; align-items: center;justify-content: center; margin-bottom: 5px;">-
            </div>
            <div style="color: #FFFFFF; text-align: center;font-weight: 600;"> {{langua['Hour'][lang]}}</div>
          </div>

          <div>
            <div id="minutes" style="background-color: #F0B900;height: 53px; width:64px; border-radius: 20px;
            font-size: 28px;display: flex; align-items: center;justify-content: center; margin-bottom: 5px;">-</div>
            <div style="color: #FFFFFF; text-align: center;font-weight: 600;"> {{langua['Minutes'][lang]}}</div>
          </div>

          <div style="align-items: center;">
            <div id="seconds" style="background-color: #F0B900;height: 53px; width:64px; border-radius: 20px;
            font-size: 28px;display: flex; align-items: center;justify-content: center; margin-bottom: 5px;">-</div>
            <div style="color: #FFFFFF; text-align: center; font-weight: 600;"> {{langua['Sec'][lang]}}</div>
          </div>


        </div>

        <!-- <div
          style="width: 80%; height: 10px; border-radius: 5px; background: linear-gradient(90deg, #F0B900 26.46%, #FFD030 57.52%, #FFF9E3 93.75%);">
        </div> -->


        <div style="position: relative; display: flex; align-items: center;margin-bottom: 20px; width: 100%;">

          <!-- <ion-range class="rangeF" style="width: 100%;z-index: 10001;">

          </ion-range> -->

          <!-- <div style="width: 25px; height: 25px; border-radius: 100%; left: calc( 0% );
           background-color: #F0B900; position: absolute; z-index: 1000;">
        </div>

        <div style="width: 25px; height: 25px; border-radius: 100%;left: calc( 25% - 12.5px);
           background-color: #F0B900;  position: absolute; z-index: 1000;">
        </div>

        <div style="width: 25px; height: 25px; border-radius: 100%; left: calc( 50% - 12.5px);
          background-color: #F0B900;  position: absolute; z-index: 1000;">
        </div>


        <div style="width: 25px; height: 25px; border-radius: 100%; left: calc( 75% - 12.5px);
          background-color: #F0B900;  position: absolute; z-index: 1000;">
        </div>

        <div style="width: 25px; height: 25px; border-radius: 100%; left: calc( 100% - 25px); 
          background-color: #F0B900;position: absolute; z-index: 1000;">
        </div> -->

        </div>

      </div>


      <div style="width: 100%;display: flex; overflow-x: auto; margin-bottom: 30px; ">

        <div *ngFor='let eve of coinList;let i = index; let last = last'
          style="width: 150px; height: 90px;display: flex; margin: 10px 10px 20px 10px;  ">


          <div (click)=" godetails(eve)"
            style='height: 90px;width: 150px; background: #504f4f;
          border-radius:5px;color: #ffffff; padding: 5px; display: flex; flex-direction: column; align-items: flex-start;'>

            <div
              style="display:flex; align-items: center; justify-content: space-between; padding: 5px 8px; margin-bottom: 12px;  width: 100%;">

              <div style="display: flex; align-items: center;">

                <img style="width: 30px; height: 30px; margin-right: 5px;" src="{{eve.picture}}" alt="">

                <div>
                  <div style="font-size: 13px;font-weight: 500;">{{eve.cryptocurrency}}</div>
                  <div style="font-size: 13px;font-weight: 500; color: #888888;">{{eve.name}}</div>
                </div>
              </div>



              <ion-icon name="chevron-forward-sharp"></ion-icon>

            </div>

            <div style="display: flex; justify-content: space-evenly; align-items: center; padding: 0 8px;">

              <div style="font-size: 18px;font-weight: 600;">{{eve.current_value | number : '.2-2'}}</div>

              <div style="font-size: 13px; font-weight: 500; color: #FC6A6A;">{{eve.rates | number : '.2-2'}}</div>
            </div>


          </div>

        </div>

      </div>

      <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

        <div style="color:#ffffff; font-weight: 5q00;font-size: 19px;"> {{langua['Total Pool Funds'][lang]}}</div>

        <div (click)="picker.open()"
          style="background-color: #FFF4D1;padding: 5px 12px; border-radius: 20px; display: flex; align-items: center;">
          <input matInput readonly="true" [(ngModel)]="selectedDate" (dateChange)="getChartData()"
            style="cursor: pointer; font-size: 12px; outline: none; width: 80px; background-color: transparent; border: none;  color: black; font-weight: 550;"
            [matDatepicker]="picker" placeholder="Choose a date">
          <ion-icon style="font-size: 12px;" name="caret-down-sharp"></ion-icon>
          <mat-datepicker #picker></mat-datepicker>

        </div>




      </div>

      <!-- Wheel -->


      <div style="display: flex; width: 100%; justify-content: flex-end; color: white; margin-bottom: 15px; ">
        <div style="width: fit-content; background-color: #23232b; display: flex; ">
          <div (click)="level = 'low'; getChartData()"
            [ngStyle]="{'background-color': level == 'low' ? '#F0B900' : 'transparent', 'color': level == 'low' ? 'black' : 'white'}"
            style="margin-right: 10px; padding: 5px 15px; font-weight: 550;"> x5 Leverage </div>
          <div (click)="level = 'high'; getChartData()"
            [ngStyle]="{'background-color': level == 'high' ? '#F0B900' : 'transparent' , 'color': level == 'high' ? 'black' : 'white'}"
            style="padding: 5px 15px; background-color: #F0B900; font-weight: 550;"> x50 Leverage </div>
        </div>

      </div>

      <div style="color: #FFFFFF; display: flex;justify-content: space-between; width: 100%;">

        <div style=" position: relative; min-width:220px; height: fit-content;">
          <canvas #donutChart id="myChart" style=" max-height: 220px; max-width:220px;">
          </canvas>

          <div
            style="position: absolute;  top: 53%;
            left: 50%; 
        
            transform: translate(-50%, -50%);
             width: 80px; height: 40px; display: flex; align-items: center; justify-content: center;flex-direction: column;">
            <div style="color: #666666; margin-bottom: 5px; font-size: 16px;">{{langua['Daily Pool'][lang]}}</div>
            <div *ngIf="chartInfo.length > 0" style="font-weight: 600; color: #ffffff;">${{ totalInvestment / 100 |
              number : '.2-2'}}
            </div>
            <div *ngIf="chartInfo.length == 0" style="font-weight: 600; font-size: 12px; color: #ffffff;">No pool yet
            </div>
          </div>

        </div>


        <div
          style=" width:100%; height:100%;display: flex; align-content:center; flex-direction: column; padding: 10px; flex-wrap: wrap;">

          <div *ngFor="let x of chartInfo;" style="display: flex; margin-bottom: 4px;">

            <div style="height:100%; justify-content: space-between;">

              <ion-icon style="font-size: 12px; color: transparent" slot="start" name="add"></ion-icon>

              <div [ngStyle]="{'background': x.color}" style="width:10px;height: 21px; border-radius: 5px 0px 0px 0px;">
              </div>
            </div>


            <div style=" width: 100%; height: 50px; background: linear-gradient(180deg, #323338 0%, rgba(38, 39, 44, 0) 100%);
            font-size: 13px;padding: 5px;border-radius: 10px 10px 0px 0px;">

              <div
                style="display: flex; width: 100%; align-items: center; justify-content: space-between; margin-bottom: 5px;">
                <div style="font-size: 13px; font-weight: 600;">{{x.coinname}}</div>
                <div style="color: #666666;">{{x.percentage | number : '.2-2'}}%</div>
              </div>

              <div style="width: 100%; display: flex; flex-direction: row-reverse; color: #F0B900;">

                <div>${{x.sum / 100 | number : '.2-2'}}</div>

              </div>

            </div>

          </div>



        </div>

      </div>


      <!-- <div *ngIf=" platformwidth() < 300" style="color: #FFFFFF; position: relative;width: 100%;">

        <div style=" width:100%; height:100%;display: flex;padding: 10px 0px; overflow-y: auto;">

          <div *ngFor="let x of membership;" style="display: flex; ">

            <div style="height:100%; justify-content: space-between;">

              <ion-icon style="font-size: 12px; color: transparent" slot="start" name="add"></ion-icon>

              <div style="width:10px;height: 21px; background: rgba(255, 99, 132, 1); border-radius: 5px 0px 0px 0px;">
              </div>
            </div>


            <div style=" width: 100%; height: 50px; background: linear-gradient(180deg, #323338 0%, rgba(38, 39, 44, 0) 100%);
           font-size: 13px;padding: 5px;border-radius: 10px 10px 0px 0px;">

              <div
                style="display: flex; width: 100%; align-items: center; justify-content: space-between; margin-bottom: 5px;">
                <div style="font-size: 13px; font-weight: 600;">{{x.name2}}</div>
                <div style="color: #666666;">{{x.rates | number : '.2'}}%</div>
              </div>

              <div style="width: 100%; display: flex; flex-direction: row-reverse; color: #F0B900;">

                <div>${{x.current_value | number : '.2'}}</div>

              </div>

            </div>

          </div>

        </div>

    

      </div> -->


    </div>

  </div>

</ion-content>